.landing-pg {
  background-image: url('/footerImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1479px;
  height: 516px;
  /* height: 487px; */
  top: 3512px;
  opacity: 1;
  position: relative;
  left: -32px;
}

.black-rectangle {
  background-color: #0000008C;
  opacity: 0.55;
  width: 1479px;
  height: 516px;
  top: 3512px;
  opacity: 1;
  left: -32px;
  background-image: url('/logo.png');
  background-repeat: no-repeat;
  background-size: 120px 120px;
  background-position: left 30px top 20px;
}

.button-logo {
  width: 237px;
  height: 54px;
  top: 20px;
  right: 30px;
  opacity: 1;
  border-radius: 50px;
  background-color: #FFD016;
  position: absolute;
  z-index: 2;
}


.donate-btn {
  position: relative;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  width: 181px;
  height: 78px;
  top: 10px;
  font-size: 24px;
  /* font-family: Koulen; */
  font-style: Regular;
  font-weight: 350px;
  opacity: 1;

}

.content {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: white;
}

.contactDetails {
  text-align: left;
  align-items: flex-start;
  
  gap: 30px;
 
  color: white;
  font-size: 1.1rem;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  font-size: 24px;
  color: white;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #FFD700;
}